<header class="header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ page.background_image }});">
  <div class="vertical">
    <div class="container">
      <div class="header-content">
        <a href="https://www.youniqueproducts.com/" target="_blank"><img class="badge" src="/images/logo.png"></a>
        <a href="{{ page.party_link }}"><h1 class="header-title">{{ page.header_text }}</h1></a>
        <a class="button fade-in-slower" href="{{ page.party_link }}">{{ page.button_text }}</a>
      </div>
    </div>
  </div>
</header>
